/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}
ul {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
/* :target {
  scroll-margin-block: 5ex;
} */

html,
body {
	overflow-x: hidden;
}

body {
	color: #01011e;

	font-family: "Mont";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;

	background: #fff;
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */

.header {
	background: url("../img/head-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 50px 0 0px;

	margin-bottom: 100px;
	overflow: hidden;
}

.header__product--mob {
	display: none;
	position: relative;
}

.header__wrap {
	display: flex;
}
.header__product {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 0 435px;
}

.header__product::after,
.header__product--mob::after {
	position: absolute;
	content: "";
	top: -25px;
	left: 0px;
	max-width: 124px;
	width: 100%;
	height: 124px;
	border: transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid #fff;
	transform: rotate(180deg);
}

.header__top {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 30px;
	margin-bottom: -10px;
}
.header__logo {
	max-width: 350px;
	width: 100%;
}
.header__subtitle {
	max-height: 66px;
	padding: 20px;
	border-radius: 15px;
	background: linear-gradient(90deg, #00aada 11.64%, rgba(0, 170, 218, 0) 100%);

	color: #f2f3f5;
	font-size: 24px;
	line-height: 130%;
}
.header__image {
	/* position: relative; */
	max-width: 630px;
	width: 100%;
	margin-top: auto;
	margin-bottom: -45px;
}
/* .header__image::after {
	content: "";
	position: absolute;
	background: url("../img/head-aft.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 160px;
	width: 100%;
	height: 136px;
	top: -35px;
	right: 135px;
} */
.header__img {
	max-width: 630px;
	width: 100%;
	object-fit: cover;
}
.header__form {
	position: relative;
}
.header__form::before {
	position: absolute;
	content: "";
	bottom: -18px;
	right: -18px;
	max-width: 124px;
	width: 100%;
	height: 124px;

	border: transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid #fff;
}
.form-block {
	display: flex;
	flex-direction: column;
	background: #f2f3f5;
	max-width: 430px;
	/* max-height: 558px; */
	width: 100%;
	flex-shrink: 0;
	border-radius: 15px;

	margin-bottom: 40px;
	margin-right: 10px;
}
.form-block__header {
	position: relative;
	padding: 33px 30px 25px;
	background-color: #060662;
	border-radius: 15px;

	margin-bottom: 18px;
}
.form-block__header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 34px;

	background: url("../img/discont.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	max-width: 75px;
	width: 100%;
	height: 85px;
}
.form-block__text {
	max-width: 277px;
	width: 100%;

	color: #fff;
	font-size: 18px;
	font-weight: 800;
	line-height: 120%;
	text-transform: uppercase;
}
.form-block__form {
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.form-block__prices {
	display: flex;
	gap: 26px;
	align-items: center;
	margin-bottom: 14px;

	flex-wrap: wrap;
	justify-content: space-between;
}
.form-block__price {
	color: #383c52;
	line-height: 100%;
	font-size: 18px;
}
.form-block__price--old {
position: relative;
overflow: hidden;
}
.form-block__price--old::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: red;
	height: 3px;
	transform: rotate(-18deg);
	transform-origin: 0 0;
	width: 102%;
	border-radius: 5px;
}
.price {
	display: block;
	color: inherit;
	font-size: 32px;
	line-height: 100%;
	text-transform: uppercase;
}
.form-block__price--old .price {
	font-size: 20px;
}

.form-block__price--new {
	padding: 10px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 0px 17.9px 0px rgba(0, 0, 0, 0.01);
	color: #060662;
}
.form-block__labels {
	margin-bottom: 20px;
}
.form-block__label {
	display: block;
	width: 100%;
	max-width: 370px;
    margin: 0 auto;
}
.form-block__label:first-child {
	margin-bottom: 6px;
}
.form-block__input,
.form-block__input::placeholder {
	color: #484f47;
	font-family: "SF Pro Display", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}
.form-block__input {
	max-width: 370px;
	width: 100%;
	height: 52px;

	background-color: #f2f3f5;

	padding: 12px 11px 0px 11px;
	border-radius: 5px;
	border: transparent;
	border-bottom: 1px solid #131313;

	outline: transparent;
}

.form-block__btn {
	max-width: 370px;
	max-height: 66px;
	width: 100%;
	padding: 21px 49px;

	color: #fff;
	font-weight: 600;
	line-height: normal;

	border-radius: 15px;
	background: #00aada;

	margin: 0 auto 22px auto;

	cursor: pointer;
	border: transparent;
	outline: transparent;
}
.form-block__timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px 40px;
	height: 104px;

	margin-top: auto;

	border-radius: 0px 0px 13px 13px;
	background: #050662;
}
.form-block__title {
	max-width: 190px;
	width: 100%;
	color: #fff;
	text-align: center;
	font-family: "SF Pro Display", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}
.timer {
	max-width: 175px;
	width: 100%;
	font-size: 36px;
	line-height: normal;
	color: #fff;
	letter-spacing: -3px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.timer .hour,
.timer .minute,
.timer .second {
	color: #fff;
	text-align: center;
	font-family: "SF Pro Display", sans-serif;
	font-size: 36px;
	line-height: normal;
	text-transform: uppercase;
}

@media screen and (width <= 900px) {
	.header {
		background: none;
		padding: 0px;
		margin-bottom: 60px;
	}
	.header__product {
		display: none;
	}
	.header__inner {
		flex: 1 0 650px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.header__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header__form::before {
		display: none;
	}

	.header__product--mob {
		display: flex;
		background: url("../img/head-bg.png");
		background-repeat: no-repeat;
		background-size: 900px 100%;
		background-position: center;

		padding: 30px 0 10px;

		margin-bottom: 30px;
	}
	.header__product--mob::after {
		top: 10px;
		left: 10px;
		max-width: 100px;
		height: 100px;
	}

	.header__img {
		width: 98%;
	}

	.header__product--mob::before {
		position: absolute;
		content: "";
		bottom: 10px;
		right: 10px;
		max-width: 100px;
		width: 100%;
		height: 100px;
		border: transparent;
		border-right: 10px solid #fff;
		border-bottom: 10px solid #fff;
	}

	.header__product--mob .header__image {
		margin: auto;
	}
	.header__top {
		margin-bottom: -15px;
	}
}

@media screen and (width <= 480px) {
	.header__product--mob {
		padding-bottom: 20px;
		background-size: 480px 100%;
	}
	.header__logo {
		max-width: 215px;
		width: 100%;
	}
	.header__subtitle {
		font-size: 18px;
		padding: 13px 15px;
	}
	.header__top {
		margin-left: 10px;
		margin-bottom: 30px;
		gap: 20px;
	}
	.header__product--mob::after {
		top: 15px;
		left: 10px;
		max-width: 50px;
		height: 50px;
		border-right: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}
	.header__product--mob::before {
		bottom: 15px;
		right: 5px;
		max-width: 50px;
		height: 50px;
		border-right: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}

	.form-block {
		margin: 0;
	}

	.form-block__header::after {
		right: 19px;
		max-width: 56px;
		height: 62px;
	}

	.form-block__form {
		padding: 0px 10px;
	}

	.form-block__prices {
		gap: 10px;
	}

	.form-block__price {
		font-size: 16px;
	}
}

@media screen and (width <= 400px) {
		.form-block__text {
		max-width: 190px;
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		line-height: 120%;
	}
}
@media screen and (width <= 375px) {
	.header__product--mob {
		background-size: 375px 100%;
	}

	.form-block__header {
		padding: 19px 19px 15px;
		margin-bottom: 10px;
	}

	.form-block__prices {
		gap: 10px;
	}
	.form-block__price {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: -.7px;
	}
	.price {
		font-size: 22px;
		margin-top: 3px;
	}
	.form-block__input,
	.form-block__input::placeholder {
		font-size: 14px;
	}
	.form-block__btn {
		padding: 13px 30px;
		font-size: 16px;
	}
	.form-block__timer {
		padding: 8px 25px;
		height: unset;
	}
	.timer {
		max-width: 160px;
		line-height: 1;
	}
	.form-block__title {
		font-size: 14px;
	}
	.timer .hour,
	.timer .minute,
	.timer .second {
		font-size: 28px;
	}
}

/* HEADER */

/* SECTION1 */

.section1 {
	padding-bottom: 19px;
	margin-bottom: 100px;
}
.section1__title {
	margin-bottom: 50px;
}
.title {
	max-width: 660px;
	width: 100%;
	color: #050662;
	font-size: 32px;
	font-weight: 700;
	line-height: 130%;
}
.section1__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.section1__block {
	flex: 0 1 530px;
}
.section1__text {
	color: #01011e;
	font-weight: 700;
	line-height: 130%;
}
.blue {
	color: #00aada;
	font-size: 24px;
	line-height: 130%;
}
.section1__img {
	max-width: 530px;
	width: 100%;
	max-height: 211px;
	object-fit: cover;

	border-radius: 15px;
}

@media screen and (width <= 991px) {
	.section1 {
		margin-bottom: 50px;
	}
	.section1__wrap {
		flex-direction: column-reverse;
	}
	.section1__block {
		flex: unset;
	}
	.section1__img {
		max-width: 991px;
		width: 125%;
		max-height: unset;
		border-radius: 5px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.section1__text {
		padding-inline: 20px;
	}
}
@media screen and (width <= 480px) {
	.title {
		color: #050662;
		font-size: 18px;
		font-weight: 700;
		line-height: 130%;

		margin-bottom: 20px;
	}

	.section1__text {
		font-size: 14px;
		font-weight: 600;
		line-height: 130%;
		padding-inline: 10px;
	}

	.blue {
		font-size: 18px;
		font-weight: 600;
	}
}

/* SECTION1 */

/* SECTION2 */
.section2 {
	margin-bottom: 100px;
}
.section2__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section2__title {
	position: absolute;
	top: 30px;
	right: 53px;

	color: #050662;
	font-size: 70px;
	font-weight: 700;
	line-height: 130%;
}
.section2__img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	height: 530px;
	flex-shrink: 0;
	object-position: left;

	border-radius: 10px;
}
.section2__text {
	position: absolute;
	top: 119px;
	right: 33px;

	max-width: 403px;
	width: 100%;

	color: #000;
	line-height: 130%;

	padding: 10px;

	border-radius: 15px;
	background: #fff;
}

@media screen and (width <= 991px) {
	.section2 {
		margin-bottom: 50px;
	}
	.section2__wrap {
		flex-direction: column;
	}
	.section2__img {
		height: 450px;
	}
	.section2__text {
		position: relative;
		bottom: 20px;
		top: unset;
		right: 0px;
		max-width: 750px;
		width: 95%;
		box-shadow: 0px 4px 34.2px 0px rgba(0, 0, 0, 0.11);
	}
	.section2__title {
		position: absolute;
		top: 30px;
		right: unset;
		left: 30px;
	}
}
@media screen and (width <= 768px) {
	.section2__title {
		font-size: 48px;
		left: 20px;
	}
	.section2__img {
		height: 450px;
	}
}
@media screen and (width <= 480px) {
	.section2__title {
		font-size: 25px;
	}
	.section2__img {
		height: 320px;
	}
	.section2__text {
		color: #000;
		font-size: 14px;
		padding: 15px;
	}
}
@media screen and (width <= 375px) {
	.section2__img {
		height: 250px;
	}
}

/* SECTION2 */

/* SECTION3 */

.section3 {
	margin-bottom: 100px;
}
.section3__title {
	margin-bottom: 26px;
}
.section3__wrap {
	display: flex;
	align-items: center;
	gap: 28px;
}
.section3__left {
	max-width: 692px;
	width: 100%;
}
.section3__list {
	display: flex;
	flex-direction: column;
	gap: 15px;

	padding-inline-start: 0;
}
.section3__list-item {
	position: relative;
	padding-left: 60px;
	font-weight: 600;

	line-height: 130%;
}
.section3__list-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0px;

	max-width: 26px;
	width: 100%;
	height: 26px;

	background: url("../img/tick.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.section3__right {
	max-width: 360px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section3__img {
	max-width: 360px;
	width: 100%;
	height: 360px;
	object-fit: cover;
}

@media screen and (width <= 991px) {
	.section3 {
		margin-bottom: 50px;
	}
	.section3__right {
		max-width: 250px;
		width: 100%;
	}
	.section3__img {
		max-width: 250px;
		height: 250px;
	}
}
@media screen and (width <= 768px) {
	.section3__title {
		margin-bottom: 22px;
	}
	.section3__wrap {
		display: block;
	}
	.section3__right {
		display: none;
	}
	.section3__list-item {
		padding-left: 40px;
	}
}
@media screen and (width <= 480px) {
	.section3__list {
		gap: 7px;
	}
	.section3__list-item {
		font-size: 14px;
		padding-left: 30px;
		min-height: 20px;
		font-weight: 700;
	}
	.section3__list-item::before {
		max-width: 20px;
		height: 20px;
	}
}

/* SECTION3 */

/* SECTION4 */
.section4 {
	margin-bottom: 100px;
}
.section4__title {
	margin-bottom: 57px;
}
.section4__wrap {
	display: flex;
	flex-direction: column;
	gap: 51px;

	padding: 0 32px 0 46px;
}
.section4__item {
	display: flex;
	align-items: center;
	gap: 54px;
}
.section4__photo {
	display: flex;
	align-items: flex-end;
	justify-content: end;
	max-width: 175px;
	height: 175px;
	width: 100%;
	background: #f0f0ff;

	flex-shrink: 0;

	border-radius: 50%;
	overflow: hidden;
}
.section4__img {
	max-width: 130px;
	height: 135px;
	width: 100%;

	object-fit: contain;
}

.section4__info {
	display: flex;
	flex-direction: column;
	gap: 31px;
}
.section4__name {
	font-size: 24px;
	font-weight: 700;
	line-height: 130%;
}
.section4__text {
	font-weight: 600;
	line-height: 130%;
}

@media screen and (width <= 991px) {
	.section4 {
		margin-bottom: 50px;
	}
}
@media screen and (width <= 768px) {
	.section4__wrap {
		gap: 40px;
		padding: 0 20px 0 20px;
	}
	.section4__item {
		gap: 35px;
		flex-direction: column;
		align-items: flex-start;
	}
	.section4__photo {
		max-width: 135px;
		height: 135px;
	}
	.section4__img {
		max-width: 85px;
		height: 100px;
	}
}
@media screen and (width <= 480px) {
	.section4__wrap {
		gap: 20px;
		padding: 0;
	}
	.section4__item {
		gap: 20px;
	}
	.section4__info {
		gap: 12px;
	}
	.section4__title {
		margin-bottom: 20px;
	}
	.section4__photo {
		max-width: 72px;
		height: 72px;
	}
	.section4__img {
		max-width: 55px;
		height: 50px;
	}
	.section4__name {
		font-size: 14px;
		font-weight: 800;
		line-height: 130%;
	}
	.section4__text {
		font-size: 14px;
		line-height: 130%;
	}
}
/* SECTION4 */

/* SECTION5 */
.section5 {
	padding: 130px 0 200px;

	background: url("../img/vawe-blue.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	margin-bottom: 100px;
}
.section5__title {
	color: #fff;
	font-size: 32px;
	line-height: 130%;

	margin-bottom: 50px;
}
.section5__wrap {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 56px;

	margin-left: 44px;
}
.section5__img {
	max-width: 175px;
	width: 100%;
	height: 175px;
	object-fit: cover;
}
.section5__description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.section5__text {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	line-height: 130%;
}
@media screen and (width <= 991px) {
	.section5 {
		margin-bottom: 50px;
	}
}
@media screen and (width <= 768px) {
	.section5 {
		padding: 90px 0 115px;
	}
	.section5__title {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.section5__wrap {
		gap: 30px;
		margin-left: 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.section5__img {
		max-width: 120px;
		height: 120px;
	}
}
@media screen and (width <= 480px) {
	.section5 {
		padding: 75px 0 90px;
	}
	.section5__title {
		font-size: 18px;
		font-weight: 700;
	}
	.section5__wrap {
		gap: 20px;
	}
	.section5__img {
		max-width: 68px;
		height: 68px;
	}
	.section5__text {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 130%;
	}
}
/* SECTION5 */

/* SECTION6 */

.section6 {
	margin-bottom: 100px;
}
.section6__title {
	margin-bottom: 50px;
}
.section6__slider {
	display: flex;
	align-items: center;
	justify-content: center;
}
.section6__item {
	display: flex !important;
	gap: 18px;

	width: 100%;
	border-radius: 15px;
	background: #f0f0ff;

	padding: 25px 71px 25px 25px;

	margin: 0 13px;

	cursor: grab;
}
.section6__ava-img {
	max-width: 250px;
	width: 100%;

	border-radius: 15px;
	max-height: 340px;
	object-fit: cover;
}
.section6__info {
	display: flex;
	flex-direction: column;
	gap: 59px;
	padding-bottom: 30px;
}
.section6__name {
	color: #050662;
	font-size: 24px;
	font-weight: 700;
	line-height: 130%;
}
.section6__comment {
	font-weight: 600;
	line-height: 130%;
}

.slick-prev,
.slick-next {
	position: absolute;
	bottom: 21px;
	left: 300px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border: transparent;
	outline: transparent;
	background: transparent;
	z-index: 1000;

	cursor: pointer;
	padding: 0;
	margin: 0;
}

.slick-next {
	right: 73px;
	left: unset;
}

.slick-prev svg,
.slick-next svg {
	max-width: 32px;
	width: 100%;
	height: 32px;
	object-fit: contain;
}

@media screen and (width <= 991px) {
	.section6 {
		margin-bottom: 50px;
	}
	.section6__info {
		gap: 40px;
	}
	.section6__item {
		padding: 25px;
	}
	.section6__comment {
		font-size: 16px;
	}
	.slick-next {
		right: 30px;
	}

	.form-block {
		margin-bottom: 0px;
	}
}
@media screen and (width <= 768px) {
	.section6__title {
		margin-bottom: 25px;
	}
	.section6__item {
		flex-direction: column;
		padding: 25px 25px 30px 25px;
	}
	.slick-prev,
	.slick-next {
		bottom: 15px;
		left: 30px;
	}
	.slick-next {
		right: 30px;
		left: unset;
	}
	.section6__ava-img {
		max-width: 270px;
		max-height: 280px;
	}
}
@media screen and (width <= 480px) {
	.section6__item {
		padding: 20px 10px 30px 10px;
		margin: 0px 5px;
	}
	.section6__name {
		font-size: 14px;
		font-weight: 800;
		line-height: 130%;
	}
	.section6__info {
		gap: 20px;
	}
	.section6__comment {
		font-size: 14px;
		line-height: 130%;
	}
	.slick-prev {
		left: 15px;
	}
	.slick-next {
		right: 15px;
	}
}
/* SECTION6 */

/* SECTION7 */

.section7 {
	margin-bottom: 100px;
}
.section7__title {
	margin-bottom: 50px;

	color: #050662;
}
.section7__wrap {
	display: flex;
	padding: 25px 31px 25px 0;

	gap: 18px;

	border-radius: 15px;
	background: #050662;

	box-shadow: 0 0 0 100vmax #050662;
	clip-path: inset(0 -100vmax);
}
.section7__img {
	max-width: 273px;
	width: 100%;
	max-height: 460px;
	border-radius: 15px;
	object-fit: cover;
}
.section7__block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.section7__name {
	max-width: 450px;
	width: 100%;
	margin-bottom: 29px;

	color: #f0f0f0;
	font-family: Mont;
	font-size: 32px;
	font-weight: 700;
	line-height: 130%;
}
.section7__job {
	max-width: 450px;
	width: 100%;
	margin-bottom: 20px;
	color: #bcbcff;
	line-height: 130%;
}
.section7__expert {
	max-width: 450px;
	width: 100%;
	margin-bottom: 18px;
	color: #bcbcff;
	line-height: 130%;
}
.section7__opinion {
	padding: 15px;

	border-radius: 15px;
	background: #f0f0ff;
	font-weight: 600;
	line-height: 130%;

	margin-top: auto;
}

@media screen and (width <= 991px) {
	.section7 {
		margin-bottom: 50px;
	}
	.section7__wrap {
		padding-right: 0;
	}
}
@media screen and (width <= 768px) {
	.section7__title {
		margin-bottom: 20px;
	}
	.section7__wrap {
		flex-direction: column;
	}
}
@media screen and (width <= 480px) {
	.section7__img {
		max-width: 200px;
		max-height: 300px;
		object-position: top;
	}
	.section7__name {
		color: #f0f0f0;
		font-size: 18px;
		font-weight: 800;
		line-height: 130%;
		margin-bottom: 15px;
	}
	.section7__job,
	.section7__expert {
		color: #bcbcff;
		font-size: 14px;
		line-height: 130%;
	}
	.section7__opinion {
		padding: 15px;
		font-size: 14px;
		font-weight: 700;
		line-height: 130%;
	}
}
/* SECTION7 */

/* SECTION8 */
.section8 {
	margin-bottom: 100px;
}
.section8__title {
	margin-bottom: 50px;
}

.section8__list {
	display: flex;
	align-items: center;

	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.section8__list-item {
	position: relative;
	max-width: 360px;
	width: 100%;

	flex: 1 1 360px;

	padding: 18px 22px 18px 58px;
	background: #e5e5ff;

	color: #050662;
	line-height: 130%;
}
.section8__list-item:first-child {
	border-radius: 15px 0px 0px 15px;

	background: #dbdbff url("../img/como-icon1.svg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}
.section8__list-item:nth-child(2) {
	background: #e5e5ff url("../img/como-icon2.svg");
	background-position: 106% 60px;
	background-repeat: no-repeat;
	background-size: 95px 95px;
}
.section8__list-item:nth-child(3) {
	border-radius: 0px 15px 15px 0px;
	background: #f0f0ff url("../img/como-icon3.svg");
	background-position: 106% 62px;
	background-repeat: no-repeat;
	background-size: 95px 95px;
}
.section8__number {
	position: absolute;
	top: 15px;
	left: 10px;
	color: #050662;
	font-size: 64px;
	line-height: 100%;
}
@media screen and (width <= 991px) {
	.section8 {
		margin-bottom: 50px;
	}
}
@media screen and (width <= 768px) {
	.section8__title {
		margin-bottom: 20px;
	}
	.section8__list-item:first-child {
		border-radius: 15px 0px 0px 0px;
	}
	.section8__list-item:nth-child(3) {
		border-radius: 0px 0px 15px 0px;
	}
}
@media screen and (width <= 480px) {
	.section8__list-item {
		padding-left: 45px;
		max-width: 320px;
	}

	.section8__number {
		top: 3px;
		font-size: 48.178px;
		line-height: 130%;
	}

	.section8__list-item {
		font-size: 14px;
		line-height: 130%;
	}

	.section8__list-item:nth-child(2) {
		background-position: 106% 35px;
		background-size: 70px 70px;
	}
	.section8__list-item:nth-child(3) {
		background-position: 110% 35px;
		background-size: 75px 75px;
	}
}

/* SECTION8 */

/* SECTION9 */

.section9 {
	padding: 30px 0;

	background: #050662 url("../img/foot-form-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section9__wrap {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.section9__image {
	max-width: 526px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.section9__img {
	max-width: 526px;
	width: 100%;
	max-height: 526px;
	object-fit: cover;
}
.section9__form {
	margin-bottom: unset;
	flex-shrink: unset;
}

@media screen and (width <= 901px) {
	.section9__wrap {
		flex-direction: column-reverse;
		align-items: center;
	}
	.section9__image {
		max-width: 375px;
	}
}

/* SECTION9 */

/* FOOTER */
.footer {
	padding: 65px 0;
	background: linear-gradient(45deg, #05126b 17%, #0181bc);
}
.footer__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;

	max-width: 577px;
	width: 100%;
	margin: 0 auto;
}
.footer__logo {
	max-width: 219px;
	width: 100%;
	max-height: 50px;

	object-fit: cover;
}
.footer__info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.footer__desc {
	color: #bcbcff;
	font-family: "SF Pro Display";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
.js-current-year {
	display: inline-block;
}
.footer__link {
	color: #bcbcff;
	font-family: "SF Pro Display";
	font-size: 16px;
	font-weight: 500;
	line-height: normal;

	text-decoration: none;
}

@media screen and (width <= 480px) {
	.footer__wrap {
		gap: 10px;
	}
	.footer__logo {
		max-width: 110px;
		max-height: 30px;
	}

	.footer__desc {
		font-size: 12px;
	}
	.footer__link {
		text-align: center;
		font-size: 12px;
	}
}
/* FOOTER */



.cpu{
	padding: 40px 0 0;
	text-align: center;
	}
	.cpu img{
	display:block;
	margin: 0 auto;
	width: auto;
	}
	.cpu a{
	display: inline-block;
	margin: 5px;
	color: #fff;
	font-size: 14px;
	}
	